	
:root {
	--theme-color: #136ad5;
}
:root {
  --input-height:45px;
}
:root {
  --border-color:#ddd;
}
:root {
  --dark-color:#8c8c8c;
}
.bg-gray {
	background-color: #f2f2f2;
}
	body {
		font-family: 'Segoe UI', 'sans-serif';
	}
	.front-banner-box {
			position: relative;
			width: 100%;
			height: 100vh;
      overflow:hidden;
		}
		.front-banner-box .front-banner-img {
			background: url('../img/building-2559580_1920.jpg') center no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
      animation: zoom 30s linear infinite;
     background-attachment: fixed;
		}
    
   @-webkit-keyframes zoom{
    0% {
      transform: scale(1);
    }
     50% {
      transform: scale(1.5);
    }
    100% {
       transform: scale(1);
    }
   
   }
  

		.front-banner-box .front-banner-overlay {
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to bottom right,rgba(0, 11, 75, 0.7),rgba(74, 31, 0, 0.7));
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;

		}
.por {
  position: relative;
}
.nav-transprent {
	background: transparent !important;
	border: none;
}
.text-white .navbar-nav>li>a {
	color: #fff;
	font-size: 18px;
}
.text-white .navbar-nav>li>a:hover {
	color: #fff;
}
.nav-transprent .navbar-brand {
	color: #fff;
}
.display-1 {
	    font-size: 5rem;
    margin-bottom: 40px;
    letter-spacing: 3px;
}
.find-office-input {
  padding: 7px 0;
}
.find-office-input .form-control {
	height: 50px;
    border-radius: 40px;
        font-size: 16px;
    padding-left: 25px;
}
.find-office-input .input-group-addon {
	    border-radius: 0px 50px 50px 0px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--theme-color);
    border-color: var(--theme-color);
    color: #fff;
}
.left .input-group-addon {
  background: #fff;
   border-radius: 50px 0px 0px 50px;
}
.left .input-group-addon select {
  border:none;
  width: 100%;
  color: #333;
}
.meeting-row img{
	width: 40px;
}
.meeting-row .navbar{
	border-bottom: 2px solid;
    width: 100%;
}
.meeting-row .navbar .active a {
	background: none;
	border-bottom: 2px solid var(--theme-color);
	color: var(--theme-color);
}
.meeting-row .navbar li {
	margin-bottom: -2px;
}
.meeting-row .navbar .active a:hover {
	background: none;
}
.find-box {
	margin-top: 200px;
}
.spacethis {
	padding-top: 80px;
	padding-bottom: 80px;
}
.spacehalf {
  padding-top: 40px;
  padding-bottom: 40px;
}
	.text-widget {
    font-size: 30px;
    font-weight: 400;
    position: relative;
    margin-bottom: 60px;
    color: var(--theme-color);
}
.text-widget::before {
	content: '';
	 display: block;
	 width: 50px;
	 height: 2px;
	 background: var(--theme-color);
	 position: absolute;
	 left: 50%;
	 bottom:-10px;
	     margin-left: -25px;
}
.f-icon-box {
-webkit-box-shadow: -1px 4px 31px -2px rgba(0,0,0,0.17);
-moz-box-shadow: -1px 4px 31px -2px rgba(0,0,0,0.17);
box-shadow: -1px 4px 31px -2px rgba(0,0,0,0.17);
width: 140px;
height: 140px;
border-radius:  50%;
margin: auto;
background: #fff;
}
.f-icon-box img {
	width: 60px;
    margin-top: 40px;
}
.f-box {
	margin-bottom: 100px;
}
.icon-big-box .f-icon-box {
	width: 200px;
	height: 200px;
}
.icon-big-box .f-icon-box img {
	width: 130px;
    margin-top: 32px;
}



.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
      left: 193px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #c5c5c5;
    border: none;
    width: 50px;
    height: 3px;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active {
	background: var(--theme-color);
}

#fade-quote-carousel blockquote {
    border: none;
    padding: 0;
}
#fade-quote-carousel .profile-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 100px;
}
#fade-quote-carousel .profile-circle img {
	width: 100%;
}
.read {
	    font-size: 19px;
    color: #333;
}
.border-right {
	border-right: 2px solid var(--theme-color);
}

.media-middle .media-body,.media-middle  .media-left,.media-middle  .media-right {
    display: table-cell;
    vertical-align: middle;
}
.text-widget.left:before {
		left: 0;
     margin-left: 0px; 
}
.whyjustdesk-col .media {
	margin-bottom: 30px;
}

.whyjustdesk-col .media-heading{
	font-weight: 400;

}
.virticle-line {
	width: 2px;
    height: 500px;
    background:  var(--theme-color);
    margin: 0 auto;
}
.bg-theme-color {
	background: var(--theme-color);
}
/*matrial input ===========================*/

/* form starting stylings ------------------------------- */
:root {
	--bar-color: #fff;
}
.material-form .form-control 				{
 border:none;
 box-shadow: none;
 border-radius: 0;
  border-bottom:2px solid #fff;
  background: none;
      color: #fff;
    font-size: 18px;
}


/* LABEL ======================================= */
.material-form label 				 {
  color:#fff; 
  font-size:20px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:-6px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  font-weight: 300;
}
.material-form .form-group  {
	position: relative;
	margin-bottom: 70px;
}
/* active state */
.material-form .form-control:focus ~ label{
  top:-30px;
  font-size:14px;
  color: var(--bar-color);
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:3px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background: var(--bar-color); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.material-form .form-control:focus ~ .bar:before, .material-form .form-control:focus ~ .bar:after {
  width:50%;
}
.material-form .form-control::-webkit-input-placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.material-form .form-control:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background: var(--bar-color); }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background: var(--bar-color); }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background: var(--bar-color); }
  to 	{ width:0; background:transparent; }
}
.theme-btn {
	padding: 10px 50px;
    border-radius: 30px;
    background: #fff;
    color: var(--theme-color);
    font-size: 20px;
}
.justdesk-footer ul {
	list-style: none;
	padding: 0;
	margin-top: -20px;
}
.justdesk-footer ul a {
	color: #333;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    font-weight: 400;
}
.justdesk-footer ul a:hover {
	color: var(--theme-color);
}
.footer-social img{
	width: 45px;
}
.width100 {
  width: 100%;
}
.navbar-nav>li>a {
  font-size: 18px;
  margin-top: 6px;
}
/*.selectbox ====================*/
* {
  box-sizing:border-box;
}
.center-box {
  width:200px;
  margin: 40px auto;
}
.ui-select {
  
  position: relative;
  width:100%;
  background:#fff;
  height: var(--input-height);

}
.ui-select > span {
  line-height:  var(--input-height);
  display: block;
  cursor: pointer;
  
}
.ui-select ul {
  list-style: none;
  padding: 0;margin: 0;
  transform-origin: top;
    animation-fill-mode: forwards;
    -webkit-transform: scaleY(0);
    display: block;
    transition: all .1s ease-out;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15)!important;
    width: 100%;
    background:#fff;
    max-height: 500px;
    overflow-y: auto;
    position: relative;
      z-index: 10000;
      border:1px solid #3c8dbc;
      margin-top: -1px;
      border-top:none;


}
.ui-select li {
  cursor: pointer;
  padding: 10px;
}
.ui-select li:hover {
  background: #f1f1f1;
}
.ui-select.open>span {
   border: 1px solid #3c8dbc;
  
}
.ui-select.open ul {
  -webkit-transform: scale(1); 
        -moz-transform: scale(1);
         transform: scale(1); 
}

.ui-select.open li.selected {
  background: #BBB;
}
.ui-select ul li {
  transform: translate(0px, -20px);
  opacity: 0;
}
.open.ui-select ul li {
  transform: translate(0px, 0px);
  transition: all .4s;
      opacity: 1;
}
.ui-select > span:after {
  content: "";
  float:  right;
  
}
/*.selectbox END====================*/
.form-control {
  box-shadow: none;
}
.nav-theme-color {
  background: var(--theme-color);
}
.result-input-box {
  width: 100%;
    background: #fff;
    border-radius: 50px;
   font-size: 17px;
       margin: 15px 0;
}
.result-input-box .input-group-addon  {
  padding: 0;
  border: none;
  border-radius: 50px;
}
.result-input-box .input-group{
  width: 100%;
}
.result-input-box .input-group input {
      width: 100%;
    height: var(--input-height);
    border: none;
    border-radius: 0px 50px 50px 0px;
    padding-left: 10px;
}
.result-input-box .input-group .ui-select {
 border-radius: 50px 0px 0px 50px;
    font-size: 17px;
    border-right: 1px solid var(--border-color, #ddd);
}
.ui-select ul,.ui-select.open>span  {
  border:none;
}
.btn-search {
      position: absolute;
    right: 15px;
    top: 8px;
    background: none;
    border: none;
}
.btn-transparent {
  --btn-color: #fff;
  background: none;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  font-size: 18px;
  padding: 6px 30px;
    border-radius: 50px;
    transition: all .2s;
    margin-top: 13px;

}
.btn-green {
  --btn-color: var(--theme-color);
}
.btn-transparent:hover {
  background: var(--btn-color);

}
.filter-list {
  list-style: none;
  padding-left: 0;
}
.br {
  border-right: 1px solid var(--border-color, #ddd);
}
.small-info {

    float: right;
    margin-top: 10px;
}
.top-nav-filter {
  border-bottom: 1px solid var(--border-color, #ddd);
}
.top-nav-filter .part {
  border-right: 1px solid var(--border-color, #ddd);
  padding-bottom: 10px;
}
.filter-list  > li {
    padding: 15px 15px;
    font-size: 20px;
    color: #484848;
    border-bottom: 1px solid var(--border-color, #ddd);
    margin-left: -15px;
    margin-right: -15px;
    cursor: pointer;
}
.slider-dropdown .slider-dropdown-menu {
  display: none;
}
.filter-list  > li a{
  display: block;
  color:  #484848;
  text-decoration: none;
}
.toggle {
  position: relative;
}

.toggle::after {
  content: '';
  background: url(../img/down-arrow.svg) right no-repeat;
  --size:20px;
    width: var(--size);
    height: var(--size);
    display: block;
    background-size: 17px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;
}
.toggle.active::after {
  transform: rotate(180deg);
 transform-origin: center;
}
.filter-parent-box ul{
  list-style: none;
  padding-left: 0;
}
/*checkbox==============================*/
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid var(--theme-color);
    display: inline-block;
    vertical-align: middle;
    --size: 20px;
    width: var(--size);
    height: var(--size);
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "";
    background: var(--theme-color);
    color: #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "";
    color: #bbb;
     background: var(--theme-color);
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid var(--border-color, #ddd); /* focus style */
}

.checkbox-custom-label,.radio-custom-label {
    font-weight: 400;
    font-size: 16px;
    color: #777;
}
.slider-dropdown-menu li {
  padding: 4px 0;
}
.clear-btn {
color: #e00000 !important;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
}
.slider-dropdown-menu {
  position: relative;
}
.co-list .media-object {
    width: 280px;
    border-radius: 10px;
    margin-right: 15px;
}
.avail-info {
  margin-left: 25px;
}
.co-list .media-heading{
  display: inline-block;
}
.co-list .media {
  border-bottom: 1px solid var(--border-color);
     padding-bottom: 20px;
    margin-left: -15px;
    padding-left: 15px;
    padding-top: 20px;
    position: relative;
    overflow: visible;
}
/*heart animation start from here*/
.heart {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  background: url("../img/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  -webkit-transition: background-position 1s steps(28);
  transition: background-position 1s steps(28);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
.heart.is-active {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-position: -2800px 0;
}

.stage {
  position: absolute;
  top: -13px;
  right: -30px;
 
}
.price {
 font-size: 18px;
    color: var(--theme-color);
    /*margin-top: -10px;*/
    margin-bottom: 15px;
}
.location {
  font-size: 18px;
  color: #777;
  margin-top: 10px;
}
.day-info .day{
  --size: 35px;
  height: var(--size);
  width:  var(--size);
  border-radius: 50%;
  background: var(--theme-color);
  color: #fff;
  display: block;
  line-height: var(--size);
  text-align: center;
  font-size: 18px;
}
.day.off {
  background: #777;
}
.day-facility img {
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.day-facility {
  margin-top: 15px;
}
.plus {
  --size: 30px !important;
  position: relative;
  bottom: -4px;
}
/*.day-facility li {
  padding-right: 8px;
    padding-left: 8px;
}*/
.btn-theme {
  background: var(--theme-color);
  color: #fff;
  /*padding: 6px 15px;*/
  font-size: 16px;
}
.btn-theme:hover {
  color: #fff;
}
.btn-round {
  border-radius: 20px;
}
.btn-dark {
  background: var(--dark-color);
}
.pr0 {
  padding-right: 0;
}
/*search-page design here*/

.full-width .item img {
  width: 100%;
  height: 700px !important;
  object-fit: cover;
}
.carousel-control {
  background: none !important;
} 
#carousel-example {
  margin-top: -22px;
}
.angle-icon{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
  }
  .angle-icon img {
    width: 50px;
  }
  .angle-icon .right {
    transform: rotate(-180deg);
  }
  .spi li {
    --padding: 20px;
    font-size: 20px;
    color: #777;
    padding-right: var(--padding);
    padding-left: var(--padding);
  }
  .m0 {
    margin:0;
  }
  .footer-social.top-banner img{
    width: 30px;
  }
    .footer-social.top-banner {
      margin-top: 20px;
    }
  .bottom-slider-panel {
    padding: 30px 0;
    margin-bottom: 50px;
    padding-bottom: 0;
}
  .fup {
    position: relative;
    top: -40px;
    left: -10px;
    margin-bottom: 0;
  }
  .spi  i {
    font-size: 20px;
  }
    .text-theme {
      color: var(--theme-color); 
    }
  .text-theme li {
    color: var(--theme-color);
  }
  #menu-center ul  {
    padding-left: 0;
    list-style: none;
    border-right: 2px solid #777;
  }
    #menu-center ul a {
     display: block;
    color: #777;
    padding: 20px 0;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
    }
#menu-center ul a.active {
 color: var(--theme-color);
    border-right: 2px solid;
    margin-right: -2px;
}
.art-block {
  border-bottom: 1px solid var(--border-color);
      padding-bottom: 30px;
    margin-bottom: 30px;
}
.mt50 {
  margin-top: 50px;
}
/*top-menu-searchbar-css*/
.chess-searchbox {
      width: 100%;
    min-height: 90px;
    padding: 20px 10px;
    border-radius: 3px;
    border: 2px solid var(--theme-color);
    background: rgba(0, 0, 0, 0.31);
    margin-top: 30px;
}

#nav_arrow {
   position: absolute;
    border: 2px solid var(--theme-color);
    width: 30px;
    height: 30px;
    font-size: 1px;
    margin: 20px 0 0 44px;
    transition: margin 0.4s cubic-bezier(0.5,0.5,0.19,1.1);
    -moz-transition: margin 0.4s cubic-bezier(0.5,0.5,0.19,1.1);
    -webkit-transition: margin 0.4s cubic-bezier(0.5,0.5,0.19,1.1);
    -o-transition: margin 0.4s cubic-bezier(0.5,0.5,0.19,1.1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    border-bottom: 0;
    border-right: 0;
    background: linear-gradient(135deg,#000 50%,transparent 0);
    z-index: 10;
    left: 46px;

}
.navigate-img-box img {
    display: block;
    margin: 0 auto;
    width: 45px;
    -webkit-transition: 500ms all cubic-bezier(0.75, -0.5, 0, 1.75);
}
.navigate-img-box .mitm:hover img{
  transform: scale(1.3);
}



.navigate-img-box a{
  text-decoration: none !important;
  
}
.navigate-img-box a p {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.top-search-box {
  margin-top: 150px;
}
.mb30 {
  margin-bottom: 30px;
}
.top-heading {
  margin-bottom: 80px;
}
.media-heading a{
  color: #333;
  text-decoration:  none;
}
.justdesk-footer .text-widget  {
  font-size: 24px;
}
.co-list .media-left {
  position: relative;
}

.verified{
  position: absolute;
    right: 25px;
    bottom: 17px;
    background: var(--theme-color);
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-bottom-right-radius: 10px;
}
.bottom-slider-panel.for-top {
  
    margin-top: -20px;
    margin-bottom: 22px;
}
.content-area {
  margin-top: 60px;
}
.bottom-strip {
  background: var(--theme-color);
}
.bottom-strip img {
  width: 50px;
  display: block;
  margin: 0 auto;
}
.bottom-strip a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}
.theme-text {
  color: var(--theme-color);
 
}
.text-left.text-widget.text-widget::before {
  left: 25px;

}

.conaction-box {
  display: flex;
  justify-content: space-between;
}
.con-img {
  margin: 20px 10px;
      position: relative;
      border-radius: 3px;
      overflow: hidden;
}
.con-img h3{
  margin: 8px 0;
  font-weight:  400;
}
.con-img h4 {
  font-weight:  400;
}
.con-img img {
  width: 100%;
  height:  450px;
  object-fit: cover;

}
.con-img .overlay {
  width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.35);
      top: 0;
      left: 0;
      padding: 15px;
      color: #fff;
      font-weight: 300;
      display: flex;
      align-items: flex-end;
}
.flex-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-column {
    -ms-flex: 25%; /* IE10 */
    flex: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 4px;
}

.flex-column img {
    vertical-align: middle;
    height:  inherit;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .flex-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .flex-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
.dib {
  display: inline-block;
}
.like-box {
  border: 1px solid var(--theme-color);
  border-radius: 3px;
      width: 100%;
      padding: 15px 20px;
}
.like-box img{
  --size:  45px;
  width:  var(--size);
  height:  var(--size);
  object-fit: cover;
}