	
:root {
	--theme-color: #27ae60;
}
.bg-gray {
	background-color: #f2f2f2;
}
	body {
		font-family: 'Segoe UI', 'sans-serif';
	}
	.front-banner-box {
			position: relative;
			width: 100%;
			height: 100vh;
		}
		.front-banner-box .front-banner-img {
			background: url('../img/space-desk-workspace-coworking.jpg') center no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
		}
		.front-banner-box .front-banner-overlay {
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .5);
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
		}

.nav-transprent {
	background: transparent !important;
	border: none;
}
.nav-transprent .navbar-nav>li>a {
	color: #fff;
	font-size: 18px;
}
.nav-transprent .navbar-nav>li>a:hover {
	color: #fff;
}
.nav-transprent .navbar-brand {
	color: #fff;
}
.display-1 {
	    font-size: 5rem;
    margin-bottom: 40px;
    letter-spacing: 7px;
}
.find-office-input .form-control {
	height: 50px;
    border-radius: 40px;
        font-size: 16px;
    padding-left: 25px;
}
.find-office-input .input-group-addon {
	    border-radius: 0px 50px 50px 0px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--theme-color);
    border-color: var(--theme-color);
    color: #fff;
}
.meeting-row img{
	width: 40px;
}
.meeting-row .navbar{
	border-bottom: 2px solid;
    width: 100%;
}
.meeting-row .navbar .active a {
	background: none;
	border-bottom: 2px solid var(--theme-color);
	color: var(--theme-color);
}
.meeting-row .navbar li {
	margin-bottom: -2px;
}
.meeting-row .navbar .active a:hover {
	background: none;
}
.find-box {
	margin-top: 200px;
}
.spacethis {
	padding-top: 80px;
	padding-bottom: 80px;
}

	.text-widget {
    font-size: 30px;
    font-weight: 400;
    position: relative;
    margin-bottom: 60px;
}
.text-widget::before {
	content: '';
	 display: block;
	 width: 50px;
	 height: 2px;
	 background: var(--theme-color);
	 position: absolute;
	 left: 50%;
	 bottom:-10px;
	     margin-left: -25px;
}
.f-icon-box {
-webkit-box-shadow: -1px 4px 31px -2px rgba(0,0,0,0.17);
-moz-box-shadow: -1px 4px 31px -2px rgba(0,0,0,0.17);
box-shadow: -1px 4px 31px -2px rgba(0,0,0,0.17);
width: 140px;
height: 140px;
border-radius:  50%;
margin: auto;
background: #fff;
}
.f-icon-box img {
	width: 60px;
    margin-top: 40px;
}
.f-box {
	margin-bottom: 100px;
}
.icon-big-box .f-icon-box {
	width: 200px;
	height: 200px;
}
.icon-big-box .f-icon-box img {
	width: 130px;
    margin-top: 32px;
}



.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
      left: 193px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #c5c5c5;
    border: none;
    width: 50px;
    height: 3px;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active {
	background: var(--theme-color);
}

#fade-quote-carousel blockquote {
    border: none;
    padding: 0;
}
#fade-quote-carousel .profile-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 100px;
}
#fade-quote-carousel .profile-circle img {
	width: 100%;
}
.read {
	    font-size: 19px;
    color: #333;
}
.border-right {
	border-right: 2px solid var(--theme-color);
}

.media-middle .media-body,.media-middle  .media-left,.media-middle  .media-right {
    display: table-cell;
    vertical-align: middle;
}
.text-widget.left:before {
		left: 0;
     margin-left: 0px; 
}
.whyjustdesk-col .media {
	margin-bottom: 30px;
}

.whyjustdesk-col .media-heading{
	font-weight: 400;

}
.virticle-line {
	width: 2px;
    height: 500px;
    background:  var(--theme-color);
    margin: 0 auto;
}
.bg-theme-color {
	background: var(--theme-color);
}
/*matrial input ===========================*/

/* form starting stylings ------------------------------- */
:root {
	--bar-color: #fff;
}
.material-form .form-control 				{
 border:none;
 box-shadow: none;
 border-radius: 0;
  border-bottom:2px solid #fff;
  background: none;
      color: #fff;
    font-size: 18px;
}


/* LABEL ======================================= */
.material-form label 				 {
  color:#fff; 
  font-size:20px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:-6px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  font-weight: 300;
}
.material-form .form-group  {
	position: relative;
	margin-bottom: 70px;
}
/* active state */
.material-form .form-control:focus ~ label{
  top:-30px;
  font-size:14px;
  color: var(--bar-color);
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:3px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background: var(--bar-color); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.material-form .form-control:focus ~ .bar:before, .material-form .form-control:focus ~ .bar:after {
  width:50%;
}
.material-form .form-control::-webkit-input-placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.material-form .form-control:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background: var(--bar-color); }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background: var(--bar-color); }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background: var(--bar-color); }
  to 	{ width:0; background:transparent; }
}
.theme-btn {
	padding: 10px 50px;
    border-radius: 30px;
    background: #fff;
    color: var(--theme-color);
    font-size: 20px;
}